.navSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 8px;
    background: antiquewhite;
}
.navsearch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background: antiquewhite;
}
.subMenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #9E9E9E;
    padding: 8px;
}
li {
    list-style: none;
}