.Singelproduct{
    display: flex;
}
.Singelproduct div {
    text-align: center;
}
.singlewrap {
   
        flex-direction: row;
        width: 1172px;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 30px;
    
}